@{
    ViewData["Title"] = "Listagem de clientes";
}

<div class="text-center">

    <div class="d-grid gad-2 d-md-flex justify-content-md-start">
        <a class="btn btn-warning" role="button" >Adicionar um nono cliente</a>
    </div>
    
    <br />

    <h1 class="display-4">Listagem de clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">RG</th>
                <th scope="col">CPF</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Edmur G Silva Jr</td>
                <td>11.234.567-8</td>
                <td>122334568-12</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a role="button" class="btn btn-info">Editar</a>
                        <a role="button" class="btn btn-danger">Deletar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Geraldo F Mendes</td>
                <td>11.234.567-8</td>
                <td>122334568-12</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a role="button" class="btn btn-info">Editar</a>
                        <a role="button" class="btn btn-danger">Deletar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Geraldo F Mendes</td>
                <td>11.234.567-8</td>
                <td>122334568-12</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a role="button" class="btn btn-info">Editar</a>
                        <a role="button" class="btn btn-danger">Deletar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>